<div class="row">
	<div class="container" id="daily">
      <hr />
	  <div class="table-responsive">
	    <table class="table" id="dailyTable">
	      <tbody>
	      <% dayCount = 0 %>
	      <% iconCount = 27 %>
	      <% @numDays.times do %>
	        <tr>

		          <td class="pull-left"><%= @dailyTime[dayCount]%></td>
		          <td><canvas id="<%="icon#{iconCount}"%>"  width="32" height="32"></canvas></td>
		          <td class="pull-right"><%= @dailyHiTemp[dayCount] %>° &nbsp; <small id="loTemp"><%= @dailyLoTemp[dayCount] %>°</small></td>

	        </tr>
	        <% dayCount = dayCount + 1 %>
	        <% iconCount = iconCount + 1 %>
	      <% end %>

	      </tbody>
	    </table>
	  </div>

	</div>
    <hr / >
</div>	