<div class="row blueBG-3">
	<div class="container" id="daily">
	  <div class="table-responsive">
	    <table class="table" id="dailyTable">
	      <tbody>
	      <% dayCount = 0 %>
	      <% iconCount = 27 %>
	      <% @numDays.times do %>
	        <tr>

		          <td class="pull-left">
		          	<% todaysDay = Time.now.strftime("%A") %>
		          	<% if @dailyTime[dayCount] == todaysDay %>
		          		<strong>Today</strong>
		          	<% else %>
		          		<%= @dailyTime[dayCount]%>
		          	<% end %>
		          </td>
		          <td><canvas id="<%="icon#{iconCount}"%>"  width="32" height="32"></canvas></td>
		          <td class="pull-right"><%= @dailyHiTemp[dayCount] %>° &nbsp; <small id="loTemp"><%= @dailyLoTemp[dayCount] %>°</small></td>

	        </tr>
	        <% dayCount = dayCount + 1 %>
	        <% iconCount = iconCount + 1 %>
	      <% end %>

	      </tbody>
	    </table>
	  </div>

	</div>
</div>	