<div class="card text-center" style="background-color: #446AAA; border-color: #446AAA;">
  <div class="card-header">
    [DAY OF WEEK]
  </div>
  <div class="card-block card-inverse">
    <p class="card-text">[Weather Icon]</p>
    <h4 class="card-title">[Hi | Lo]</h4>
    <p class="card-text">[ Summary ]</p>
  </div>
  <div class="card-footer text-muted">
    [feels like temp]
  </div>
</div>

<br />
