<div class="card text-center">
  <div class="card-header">
    TODAY
  </div>
  <div class="card-block">
    <p class="card-text">[Weather Icon]</p>
    <h4 class="card-title">[Hi | Lo]</h4>
    <p class="card-text">[ Summary ]</p>
  </div>
  <div class="card-footer text-muted">
    [feels like temp]
  </div>
</div>

<br />