<% if cookies[:lat_lng] %> <!-- if cookie exists, load the weather -->
    <script>
      getGeoLocation();
    </script>
  <div class="col-sm-12 <%= @conditionBG %>BG">
      <%= render "welcome/singlePageLayout" %>
  </div>

<% else %>  <!-- if pageload fails, get/set location, and display error -->

    <script>
      getGeoLocation();
    </script>
    <div id="locationAlert">
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Looks like something went wrong while trying to set your current location. Please try again below! <br /><small>It may take a few seconds for the browser to find your current location depending on network connection.</small>
      </div>
      <a href="/currentlocation" class="btn btn-lg btn-primary col-sm-4 col-sm-offset-4 col-xs-12">Find Me!</a>
    </div>

<% end %>