<% if cookies[:lat_lng] %>
  <script>
    deleteCookie();
    getGeoLocation();
  </script>
<% else %>
  <script>
    getGeoLocation();
  </script>
<% end %>

	<div class="jumbotron jumbotron-fluid text-center">
		<div class="container">
		  <canvas id="<%="icon1"%>" class="card-img-top"  width="128" height="128"></canvas>
		  <h1 class="display-1">Welcome to Storm.ly</h1> <br />
        <button type="button" disabled onClick="location.href='/currentlocation'" id="locationBtn" class="btn btn-lg btn-primary col-sm-6 col-sm-offset-3">
          <i id="spinnerIcon" class="fa fa-spinner fa-spin"></i><span id="btnText">&nbsp; Checking for storms...</span>
        </button>
  	</div>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
  </div>




<%= javascript_tag do %>
  var skycons = new Skycons({
   "monochrome": false,
   "colors" : {
     "cloud" : "aliceBlue",
   }
   });

  skycons.add("icon1", Skycons.RAIN);
 
  skycons.play();

<% end %>



