<% unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<% end %>


<div class="row">
	<div class="jumbotron jumbotron-fluid text-center">
		<div class="container">
		  <canvas id="<%="icon1"%>" class="card-img-top"  width="128" height="128"></canvas>
		  <h1 class="display-1">Welcome to Storm.ly</h1> <br />
      <% if @locationCookie %>
        <a href="/welcome/setgeo" class="btn btn-lg btn-success col-sm-4 col-sm-offset-4">Find Me!</a>
      <% else %>
        <a href="/welcome/setgeo" class="btn btn-lg btn-primary col-sm-4 col-sm-offset-4">Find Me!</a>
      <% end %>
  	</div>
  </div>
</div>

<div class="row">
</div>


<%= javascript_tag do %>
  var skycons = new Skycons({
   "monochrome": false,
   "colors" : {
     "cloud" : "aliceBlue",
   }
   });

  skycons.add("icon1", Skycons.RAIN);
 
  skycons.play();

<% end %>