<% if cookies[:lat_lng] %>
  <script>
    deleteCookie();
    getGeoLocation();
    initMap();
  </script>
<% else %>
  <script>
    getGeoLocation();
  </script>
<% end %>

	<div class="jumbotron jumbotron-fluid text-center partlyCloudyBG">
		<div class="container">
		  <canvas id="<%="icon1"%>" class="card-img-top"  width="128" height="128"></canvas>
		  <h1 class="display-4 thin">Storm.ly</h1>
      <h5 class="light">simple hyperlocal weather forecasting</h5>  <br />

        <button type="button" disabled onClick="location.href='/currentlocation'" id="locationBtn" class="btn btn-lg btn-primary col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <i id="spinnerIcon" class="fa fa-spinner fa-spin"></i><span id="btnText">&nbsp; Checking for storms...</span>
        </button>
  	</div>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
      <br />
      <h6 class="text-center hidden-xs medium">Hello! We're still in development right now, but feel free to poke around!</h6> <br />
  </div>



  <!--   <div id="map-canvas"></div>  <br /> <br />

    <div class="container">
      <%= render "welcome/cityScroll"  %> <br />
    </div> -->


    <footer class="footer">
      <div class="container text-center">
        <p class="text-muted medium" id="mainFooter">
          Created by <a href="http://www.justinwhite.co" target="_blank">Justin White</a> &nbsp;
          Powered by <a href="http://www.forecast.io" target="_blank">Forecast</a>
        </p>
      </div>
    </footer>


  <%= javascript_tag do %>
  var skycons = new Skycons({
     "monochrome": false,
     "colors" : {
       "cloud" : "aliceBlue",
       "fog"   : "#E5E5E5",
       "moon"  : "#e6e9d0"
     }
     });

    skycons.add("icon1", Skycons.<%= @randomSkyconLtd%>);   

    skycons.play();

  $('.ticker').ticker();


  <% end %>



