/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, html {
    background-color: #FC6E51;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* font style */
  .thin {
  	font-weight: 100;
  }

  .light {
  	font-weight: 300;
  }

  .large {
     font-size: 5.5rem;
  }

  .shadow {
    text-shadow: 2px 2px 8px rgba(0,0,0, 0.3);
  }
  
a:hover{
    text-decoration: none;
}


.blueBG {
  background-color: #4fc1e9;
}
.blueBG-2 {
  background-color: #1aa2d1;
}
.blueBG-3 {
  background-color: #22b1e3;
}
.blueBG-4 {
  background-color: #38b9e6;
}
.blueBG-5 {
  background-color: #4fc1e9;
}
.blueBG-6 {
  background-color: #66c9ec;
}

.redBG {
  background: #FC6E51;
}


#btnText {
	 white-space: normal; 

}

.padTop {
	padding-top: 15px;
}

.padBot {
	padding-bottom: 15px;
}
