  <title>Storm.ly</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="http://i.imgur.com/WBfFXZw.png"/>
  <link rel="apple-touch-icon"
      sizes="144x144"
      href="http://i.imgur.com/WBfFXZw.png">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>



 