  <title>Storm.ly | simple hyperlocal weather forecasting</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="http://i.imgur.com/WBfFXZw.png"/>
  <link rel="apple-touch-icon"
      sizes="144x144"
      href="http://i.imgur.com/WBfFXZw.png">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>