<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<body>

		<%= yield %>

    <footer class="footer">
      <div class="container text-center">
        <p class="text-muted" id="mainFooter">
        	Created by <a href="http://www.justinwhite.co" target="_blank">Justin White</a> &nbsp;
        	Powered by <a href="http://www.forecast.io" target="_blank">Forecast</a>
        </p>
      </div>
    </footer>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>
