<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<body>

		<%= yield %>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDII37zYjuYQjFMADQVfJXUdVB6Hyejy5M&callback=initMap">
    </script>
</body>
</html>
